main{
    /* background-color: red; */
    padding: 5vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    row-gap: 2rem;
}
@media (max-width:800px){
    main{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (max-width:580px){
    main{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width:400px){
    main{
        grid-template-columns: 1fr;
    }
}

